* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('../public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.services-container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

.services-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.service {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-description {
  font-size: 1rem;
  color: #666;
}

.members-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.members-section {
  flex-basis: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.members-section-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.equipment-container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

.equipment-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.equipment-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjust the minimum and maximum width as needed */
  gap: 20px;
}

.equipment-image {
  text-align: center;
  max-width: 350px; /* Adjust the maximum width of the image container */
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.equipment-image img {
  width: 100%; /* Ensure all images take up the full width of their container */
  height: auto;
  border-radius: 8px;
}

.image-caption {
  margin-top: 10px;
  font-size: 1rem;
  
}
.equipment-description {
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.equipment1-description {
  font-size: 1.5rem;
  margin-bottom: 40px;
  margin-left: 15px;
}
.tulokset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minimum and maximum width as needed */
  gap: 20px;
  justify-content: center; /* Horizontally center the grid items */
}

.tulokset img {
  max-width: 100%; /* Make sure the image doesn't exceed its container's width */
}

.frontpage-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  
}

.intro-section {
  margin-bottom: 40px;
}

.intro-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.future-events, .past-events {
  margin-bottom: 40px;
}

.future-events h2, .past-events h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.future-events ul, .past-events ul {
  list-style-type: none;
  padding: 0;
}

.future-events li, .past-events li {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.future-events li h3, .past-events li h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.future-events li p, .past-events li p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.logo-div{
  max-width: 350px;
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.logo-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}